:root {
  --button: #3882f6;
  --dark-bg: #1f2937;
  --dark-bg-light-text: #f9faf8;
  --quote-bg: #e5e7eb;
  --quote-text: #1f2937;
}

/* *{
  border: 1px solid black;
} */

body {
  height: 98vh;
  width: 95vw;
  max-width: 1200px;
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: cornsilk;
  gap: 64px;
}

.header {
  display: flex;
  background-color: var(--dark-bg);
  color: var(--dark-bg-light-text);
  font-size: 24px;
  justify-content: space-between;
  padding: 32px;
  border-radius: 48px;
}

.header-links {
  display: flex;
  gap: 32px;
}

ul {
  list-style-type: none;
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  width: 80%;
  align-self: center;
  gap: 24px;
}

.corners {
  border-radius: 24px;
  padding: 24px;
}

.mp-overview {
  display: flex;
  gap: 16px;
  background-color: var(--dark-bg);
  color: var(--dark-bg-light-text);
}

.info-part {
  display: flex;
  flex-direction: column;
}

.info-image {
  height: 150px;
  width: 150px;
  border-radius: 5px;
}

.mp-random-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
}
.info-squares {
  display: flex;
  justify-content: space-evenly;
}

.i-s-blob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.i-s-text {
  text-align: center;
}

.square {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 3px solid lightskyblue;
}
.mp-quote {
  background-color: var(--quote-bg);
  color: var(--quote-text);
}

.mp-signup {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
  width: 80%;

  background-color: var(--button);
}

.footer {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark-bg);
  color: var(--dark-bg-light-text);
}

button {
  background-color: var(--button);
  color: aliceblue;
}
